<h3>Hello, here you can submit your favorite city. Please fill the form shown below</h3>

<div>
    <form method="post" action="/newcity">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">

        <label for="country">Country</label>
        <input type="text" name="country" id="country">

        <label for="population">Population</label>
        <input type="text" name="population" id="population">

        <label for="subway">transit System</label>
        <input type="text" name="subway" id="subway">

        <label for="crimeRate">Crime Rate</label>
        <input type="text" name="crimeRate" id="crimeRate">

        <label for="website">Website</label>
        <input type="text" name="website" id="website">

        <button>Add my City</button>
    </form>
</div>